@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(130deg, #250002 0%, #171717 50%, #0B162C 100%);
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(130deg, #250002 0%, #171717 50%, #0B162C 100%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.anticon.anticon-close {
  color: var(--foreground);
}